<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title>Fiche</title>
</head>
<body>
<div th:insert="fragment/navbar.html :: companyLogo(${company})"></div>
    <div th:object="${employee}">
        <img th:src="'data:image/*;base64,'+${{employee.image}}" alt="Aucune image">
        <h4>Firstname</h4>
        <span th:text="${{employee.firstname}}"></span>
        <h4>Lastname</h4>
        <span th:text="${{employee.lastname}}"></span>
        <h4>Birthdate</h4>
        <span th:text="${{employee.birthdate}}"></span>
        <h4>Sex</h4>
        <span th:text="${{employee.sex}}"></span>
        <h4>Post</h4>
        <span th:text="${{employee.post}}"></span>
        <h4>Phone</h4>
        <span th:text="${{employee.phone}}"></span>
        <h4>CNAPS</h4>
        <span th:text="${{employee.cnaps}}"></span>
        <h4>Address</h4>
        <span th:text="${{employee.address}}"></span>
        <h4>Email</h4>
        <span th:text="${{employee.email}}"></span>
        <h4>Matricule</h4>
        <span th:text="${{employee.matricule}}"></span>
    </div>
</body>
</html>