<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/intlTelInput.css}">
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <title>Employee form</title>
</head>
<body>
<div th:insert="~{fragments/navbar.html :: companyLogo(${company})}"></div>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center m-4" th:text="${title}"></h5>
                <form class="form-card px-3" id="form" th:object="${employee}" th:action="@{/employee/{endpoint}(endpoint=${endpoint})}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id" th:field="*{id}">
                    </div>
                    <div class="row justify-content-between text-left">
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Firstname', 'firstname' , *{firstname})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Lastname', 'lastname' , *{lastname})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label" for="sex">Sex</label>
                            <select id="sex" class="form-control" th:field="*{sex}">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Address', 'address' , *{address})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label" for="image">Image</label>
                            <input class="form-control form-control-file" type="file" accept="image/*"
                                   th:value="*{image}"  name="image" id="image">
                        </div>
                        <div th:replace="~{fragments/input.html :: inputFragment('date','Birthdate', 'birthdate' , *{birthdate})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex" >
                            <label class="form-control-label" >Phone number</label>
                            <input class="form-control phone"
                                   type="tel"
                                   id="phone">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex" >
                            <button type="button" class="btn btn-info" th:onclick="addPhone()">Add Phone</button>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left" id="phoneList">
                        <div th:each="phoneEl, phoneStatus: *{phones}" >
                            <input  type="hidden" th:field="*{phones[__${phoneStatus.index}__].id}">
                            <input th:field="*{phones[__${phoneStatus.index}__].phoneWithCountry}" readonly>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Email', 'email' , *{email})}"></div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label" for="children">Children</label>
                            <input class="form-control" type="number" id="children" min="0" th:field="*{children}">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div th:replace="~{fragments/input.html :: inputFragment('date','Entrance date', 'entranceDate' , *{entranceDate})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('date','Exit date', 'exitDate' , *{exitDate})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Cnaps identifier', 'cnaps' , *{cnaps})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Post in enterprise', 'post' , *{post})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div th:replace="~{fragments/input.html :: inputFragment('text','Matricule', 'matricule' , *{matricule})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','CIN number', 'cinNumber' , *{cinNumber})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div th:replace="~{fragments/input.html :: inputFragment('date','CIN delivrance date', 'cinDate' , *{cinDate})}"></div>
                        <div th:replace="~{fragments/input.html :: inputFragment('text','CIN delivrance location', 'cinLocation' , *{cinLocation})}"></div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label" for="sex">CSP</label>
                            <select id="csp" class="form-control" th:field="*{csp}">
                                <option value="M1" selected>M1</option>
                                <option value="M2">M2</option>
                                <option value="OS1">OS1</option>
                                <option value="OS2">OS2</option>
                                <option value="OP1">OP1</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" th:text="${buttonLabel}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/intlTelInput.min.js}"></script>
<script th:src="@{/js/intlTelInput-jquery.min.js}"></script>
<script th:src="@{/js/insert.js}"></script>
</body>
</html>
