<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/navbar.html :: companyLogo(${company})}"></div>

    <h1>Employee lists</h1>
    <a th:href="@{/employee/export}">Export csv</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <form th:action="@{/employee}" th:object="${employeeFilter}" method="get" enctype="multipart/form-data">
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Firstname
                            <img th:src="@{/filter.svg}" alt="filter"></button>
                            <div class="dropdown-menu">
                                <input  class="form-control dropdown-item-text"
                                        name="firstname"
                                        type="text"
                                        th:value="${{employeeFilter.firstname}}"
                                        id="firstname">
                                <select class="dropdown-item-text" th:value="${{employeeFilter.firstnameOrder}}" name="firstnameOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Lastname
                                <img th:src="@{/filter.svg}" alt="filter">
                            </button>
                            <div  class="dropdown-menu">
                                <input  class="form-control dropdown-item-text"
                                        name="lastname"
                                        type="text"
                                        th:value="${{employeeFilter.lastname}}"
                                        id="lastname">
                                <select class="dropdown-item-text" th:value="${{employeeFilter.lastnameOrder}}" name="lastnameOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Post
                                <img th:src="@{/filter.svg}" alt="filter"></button>
                            <div class="dropdown-menu">
                                <input  class="form-control dropdown-item-text"
                                        name="post"
                                        type="text"
                                        th:value="${{employeeFilter.post}}"
                                        id="post">
                                <select class="dropdown-item-text" th:value="${{employeeFilter.postOrder}}" name="postOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Sex
                                <img th:src="@{/filter.svg}" alt="filter">
                            </button>
                            <div  class="dropdown-menu">
                                <select  class="dropdown-item-text" name="sex" th:value="${{employeeFilter.sex}}">
                                    <option value="">Choose</option>
                                    <option value="Male">male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <select class="dropdown-item-text" th:value="${{employeeFilter.sexOrder}}" name="sexOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Entrance date
                                <img th:src="@{/filter.svg}" alt="filter">
                            </button>
                            <div  class="dropdown-menu">
                                <label class="form-control-label" for="entranceDateStart">Entrance Date Start:</label>
                                <input class="form-control"
                                       name="entranceDateStart"
                                       type="date"
                                       th:value="${{employeeFilter.entranceDateStart}}"
                                       id="entranceDateStart">
                                <label class="form-control-label" for="entranceDateStart">Entrance Date End:</label>
                                <input class="form-control"
                                       name="entranceDateEnd"
                                       type="date"
                                       th:value="${{employeeFilter.entranceDateEnd}}"
                                       id="entranceDateEnd">
                                <select class="dropdown-item-text" th:value="${{employeeFilter.entranceDateOrder}}" name="entranceDateOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Exit date
                                <img th:src="@{/filter.svg}" alt="filter">
                            </button>
                            <div  class="dropdown-menu">
                                <label class="form-control-label" for="entranceDateStart">Exit Date Start:</label>
                                <input class="form-control"
                                       name="exitDateStart"
                                       type="date"
                                       th:value="${{employeeFilter.exitDateStart}}"
                                       id="exitDateStart">
                                <label class="form-control-label" for="entranceDateStart">Entrance Date End:</label>
                                <input class="form-control"
                                       name="exitDateEnd"
                                       type="date"
                                       th:value="${{employeeFilter.exitDateEnd}}"
                                       id="exitDateEnd">
                                <select class="dropdown-item-text" th:value="${{employeeFilter.exitDateOrder}}" name="exitDateOrder">
                                    <option value="">Order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>
                    </th>
                    <th>Actions</th>
                    <button type="submit">filter</button>
                </form>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${{employee.firstname}}"></td>
                <td th:text="${{employee.lastname}}"></td>
                <td th:text="${{employee.post}}"></td>
                <td th:text="${{employee.sex}}"></td>
                <td th:text="${{employee.entranceDate}}"></td>
                <td th:text="${{employee.exitDate}}"></td>
                <td>
                    <a th:href="@{/employee/details(employeeId=${employee.id})}">Details</a>
                    <a th:href="@{/employee/edit(employeeId=${employee.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/employee/create}">New employee</a>
    <script th:src="@{/main.js}"></script>
</body>
</html>